<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Natural Language Processing</title>
</head>
<body>
    <div class="container">    
          <header>
                    <div id="panel">
                        <span class="errorMsg"></span>
                    </div>
          </header>         
          <main>
            <header class="main-header">
               <div class="appName">Evaluating News Articles With Natural Language Processing</div>
            </header>
            <section>
              <div>
                <form class="">
                  <div>
                    <label for="inputText">Enter Text</label>
                  </div>
                  <div>
                    <textarea name="text" id="text" cols="80" rows="10"></textarea>
                  </div>
                  <div>
                  <label for="inputText"> Enter Url:</label>
                </div>
                  <input type="url" name="input" id="url" >
                  <div>
                      <input type="submit" id="generate" class="button" value="Submit">
                  </div>  
                </form>
              </div>
            </section>
            <section>
              <article>
                <div class="row">
                  <div class="column"> 
                    <p class="text"></p>
                   <p class="score_tag"> </p>
                   <p class="agreement"></p>
                   <p class="subjectivity"></p>
                   <p class="confidence"></p>
                   <p class="irony"></p>
                  </div>
                </div> 
                <p class="results"></p>
              </article> 
        </section> 
        </main>
          <footer>  
              <div class="page-footer">
                MY Footer here
              </div>
          </footer> 
        </div>
          <script src="https://kit.fontawesome.com/f9f9d2cd10.js" crossorigin="anonymous"></script>
    </body>
</html>