<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Natural Language Processing</title>

          <!-- <link rel="stylesheet" href="../styles/base.css"> -->

</head>
<body>
          <header>
                    <div class="appName">NLP</div>
                    <div class="navigation">Navigation</div>
          </header>     
          <main>
              <form onsubmit="return Client.handleSubmit(event)">
                    <label for="name">Type your search</label><br>
                    <input type="text" id="name" name="input" onblur="onBlur"  placeholder="Enter search"><br>
                    <input type="submit" id="button" name="" value="submit" onclick="return  Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
              </form>
 
          </main> 

          <section id="info">
              <strong>Results:</strong>
              <div id="results"></div>
          </section>
          <footer>  
                    MY Footer here
          </footer>

         </body>
</html>