<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Natural Language Processing</title>

          <script defer src="https://kit.fontawesome.com/f9f9d2cd10.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav>
    <a href="./index.html" id="brand-name">Edonuyi</a>
  </nav>  
  <header class="main-header">
    <h1 class="appName">Evaluating News Articles. Natural Language Processing AI</h1>
    <div id="panel"></div>
  </header>
    <div class="container">        
          <main>  
            <section class="form-section">
              <div class="form-section_main">
                <form class="news-search">
                  <div id="tilte"><em>Sentiment Analysis</em></div>
                      <input type="url" name="input" id="url" class="url" placeholder="Enter Url" >
                      <input type="submit" id="generate" class="button" value="Analyse article">
                </form>
              </div>
            </section>
            <section>
              <p class="info-text"><em>Submit your query and discover the power of AI.</em></p>
              <article>
                <div class="column"> 
                   <p class="score_tag"></p>
                   <p class="agreement"></p>
                   <p class="subjectivity"></p>
                   <p class="confidence"></p>
                   <p class="irony"></p>
                </div>
              </article> 
        </section> 
      </main> 
  </div>
      <script>
        if ('serviceWorker' in navigator) {
               window.addEventListener('load', function() {
                  navigator.serviceWorker.register('/service-worker.js');
          });
        }
           </script>
    </body>
</html>