footer {
          min-width: 100vw;
          background: #606060;
          padding: 2em;
          grid-area: span 4;
          margin-top: none;
          text-align: center;
          margin-bottom: 0;
          
}
