main {

          display: flex;
          flex-direction: row;
          margin: 0 auto;
          border: 1px solid blue;
          min-height: 100%;
          padding: 50px;
          background: $primary-color;
          color: #fff;
          font-weight: bold;
          
} 