main {

          display: grid;
          min-height: 100vh;
          min-width: 100vw;
          margin: 0 auto;
          border: none;
          grid-area:  span 12 ;

section {
          grid-area: span 12;
            
/* Create three equal columns that floats next to each other */
   #url {
         width: 43em; 
         height: 3%;
         padding: 1.5em;
         font-size: 0.8em;
         font-weight: bold;      
  }
}

.info-text {
         text-align: center;
         margin-top: 1em ;
         margin-bottom: 1em;
         font-size: 1.5em;
         font-weight: bold;
}

.column {
         width: 25em; 
         padding: 2em;
         margin-top: 1em;
         margin: 0 auto;         
        
  p {
         border: 1px solid;
         padding: 1em; 
         border-left: 12px solid black;
         background: orange;
         font-size: 22px; 
         font-weight: bold;
         z-index: 1;
         box-shadow: 6px 6px 6px #808080;
         position: relative;
         transition: linear 5s, 3s, linear, lightgray;
}

.row:after {
         content: "";
         display: table;
         clear: both;
}

.model {
         align-items: right;
         margin-left: 3em;
}

.lang {
         width: 1px;
  }
 }
}

.button {
       width: 7em;
       background-color: #1a1af1;
       padding: 0.5em;
       border: none;
       color: #fff;
       border-radius: 5px;
       font-size: 1.5em;
       font-weight: bold;
       grid-area: span 2;
       text-align: center;
       margin-top: 2em;
}

input:invalid {
         border: 2px solid red;
}

input:valid {
         border: transparent;
         box-shadow: 4px 4px 4px #808080;

}
  
.form-section_main {
         border: 1px solid;
         width: 38em;
         margin: 0 auto;
         margin-left: 2em;
         margin-right: 2em;
         font-size: 0.8em;
         padding: 50px;
         background: #d3d3d3;
         box-shadow: 6px 6px 6px #808080;
   
}
