header {
       width: 100vw;
       font-size: .3em;
       font-weight: 500;
       text-align: center;
       background: #000000;
       color: white;
       padding: 0.3em;
       margin: 0;

.msgBox {
       width: 18em;
       text-align: center;
       margin: 0 auto;
   }
}