
header {
          font-size: large;
          margin: 0 auto;
          font-weight: 700;
          font: bold;
          margin-bottom: 1em;
          margin-top: 1em;
          grid-area: span 1;

}
#panel, .errorMsg{
          color: #ffffff;
   }